$('#myModal2').remove()
$('body').prepend('<%= j render 'complain_modal', company: @company %>')
$('.modal-body2').html('<h3><%= @company.name %></h3> <%= j render "complain_form", company: @company, complain: Complain.new %>')
$('#myModal2').modal()